.habilidades {
    text-align: center;
    padding: 60px;
}

.habilidades__titulo {
    color: var(--cor-texto);
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 80px;
    text-transform: uppercase;
}

.habilidades__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    max-width: 1024px;
    margin: 0 auto;
}

.habilidades__imagem {
    width: 100%;
}

.habilidades__imagem:hover {
    opacity: 0.9;
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

@media (max-width: 768px) {
    .habilidades__container {
        grid-template-columns: repeat(3, 1fr);
    }
}